<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeetCode Redirect</title>
    <link rel="shortcut icon" href="assets/images/site_ico.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./style/redirect_page_style.css" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="./assets/images/site_ico.ico" alt="Logo">
            LeetCode Badge
        </div>
        <a class="github-link" href="https://github.com/andrew-pavlov-ua/LeetCode-Widget" target="_blank">
            <button class="github-star">
                <img src="./assets/images/github_logo.png" alt="GitHub logo">
                Star Project
            </button>
        </a>
    </header>

    <main>
        <h1>Redirecting to LeetCode Profile</h1>
        <div class="stats-container">
            <div class="stats-title">
                <h2>
                    <div id="username">{{ .userSlug }}</div>
                </h2> Profile Visits Statistics
            </div>
            <!-- Display statistics in a single or two-line format -->
            <div id="profileStats" class="stats-row">
                <span class="stat">Daily: {{ .dailyVisits }}</span>
                <span class="stat">Weekly: {{ .weeklyVisits }}</span>
                <span class="stat">Monthly: {{ .monthlyVisits }}</span>
                <span class="stat">Total: {{ .totalVisits }}</span>
            </div>
        </div>
        <div class="button-container">
            <button class="button" onclick="redirectToMain()">Add Badge to Your Profile</button>
            <button class="button" id="redirectToLeetCode">Go to LeetCode Profile</button>
        </div>
    </main>

    <footer>
        Created by <a href="https://github.com/andrew-pavlov-ua" target="_blank">Andrew Pavlov</a>
    </footer>

    <script src="/assets/js/redirect-page.js"></script>
</body>

</html>