body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Цвет фона */
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    color: #333;
}